In [2]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import warnings
warnings.filterwarnings('ignore')

In [4]:
movies_data = pd.read_csv('combine_df.csv')
movies_data.head()

,budget,genres,movie_id,keywords,original_title,overview,popularity,production_companies,production_countries,release_date,...,tagline,vote_average,vote_count,cast,crew,cast_1,cast_2,genres_1,production_companies_1,release_year
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2009-12-10,...,Enter the World of Pandora.,7.2,11800,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de...",Sam Worthington,Zoe Saldana,"['Action', 'Adventure', 'Fantasy', 'Science Fi...","['Ingenious Film Partners', 'Twentieth Century...",2009.0
1,300000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",285,"[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...",Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...",139.082615,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2007-05-19,...,"At the end of the world, the adventure begins.",6.9,4500,"[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de...",Johnny Depp,Orlando Bloom,"['Adventure', 'Fantasy', 'Action']","['Walt Disney Pictures', 'Jerry Bruckheimer Fi...",2007.0
2,245000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",206647,"[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...",Spectre,A cryptic message from Bond’s past sends him o...,107.376788,"[{""name"": ""Columbia Pictures"", ""id"": 5}, {""nam...","[{""iso_3166_1"": ""GB"", ""name"": ""United Kingdom""...",2015-10-26,...,A Plan No One Escapes,6.3,4466,"[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de...",Daniel Craig,Christoph Waltz,"['Action', 'Adventure', 'Crime']","['Columbia Pictures', 'Danjaq', 'B24']",2015.0
3,250000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...",49026,"[{""id"": 849, ""name"": ""dc comics""}, {""id"": 853,...",The Dark Knight Rises,Following the death of District Attorney Harve...,112.312950,"[{""name"": ""Legendary Pictures"", ""id"": 923}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2012-07-16,...,The Legend Ends,7.6,9106,"[{""cast_id"": 2, ""character"": ""Bruce Wayne / Ba...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de...",Christian Bale,Michael Caine,"['Action', 'Crime', 'Drama', 'Thriller']","['Legendary Pictures', 'Warner Bros.', 'DC Ent...",2012.0
4,260000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",49529,"[{""id"": 818, ""name"": ""based on novel""}, {""id"":...",John Carter,"John Carter is a war-weary, former military ca...",43.926995,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}]","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2012-03-07,...,"Lost in our world, found in another.",6.1,2124,"[{""cast_id"": 5, ""character"": ""John Carter"", ""c...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de...",Taylor Kitsch,Lynn Collins,"['Action', 'Adventure', 'Science Fiction']",['Walt Disney Pictures'],2012.0

In [5]:
movies_data['overview'][0]

'In the 22nd century, a paraplegic Marine is dispatched to the moon Pandora on a unique mission, but becomes torn between following orders and protecting an alien civilization.'

In [6]:
movies_data['overview'][1]

'Captain Barbossa, long believed to be dead, has come back to life and is headed to the edge of the Earth with Will Turner and Elizabeth Swann. But nothing is quite as it seems.'

In [23]:
indices = pd.Series(index=movies_data['original_title'], data=movies_data.index)
indices.head()

original_title
Avatar                                      0
Pirates of the Caribbean: At World's End    1
Spectre                                     2
The Dark Knight Rises                       3
John Carter                                 4
dtype: int64

In [10]:
print(movies_data['overview'].isnull().sum())
movies_data['overview'].fillna(' ', inplace=True)

3

In [11]:
from sklearn.feature_extraction.text import TfidfVectorizer
tf_idf = TfidfVectorizer(ngram_range=(1,3),stop_words='english', lowercase=True, min_df=3)
tf_idf_matrix = tf_idf.fit_transform(movies_data['overview'])
print(tf_idf_matrix.shape)

(4803, 9919)

In [25]:
tf_idf_matrix_1 = pd.DataFrame(data=tf_idf_matrix.toarray(), columns=tf_idf.get_feature_names())
tf_idf_matrix_1

,00,000,000 feet,000 years,007,10,10 million,10 year,10 year old,10 years,...,zeus,zion,zoe,zombie,zombies,zone,zoo,zooey,zooey deschanel,zookeeper
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4798,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4799,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4800,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4801,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4802,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [49]:
# Lets See tfidf values of movie at index 99
print('Movie Name :',movies_data.iloc[99]['original_title'])
print('OverView :', movies_data.iloc[99]['overview'])
print("--------------------------------------------")
for index , value in tf_idf_matrix_1.iloc[99].items():
    if value>0:
        print(index , ":", value)

Movie Name : The Fast and the Furious
OverView : Domenic Toretto is a Los Angeles street racer suspected of masterminding a series of big-rig hijackings. When undercover cop Brian O'Conner infiltrates Toretto's iconoclastic crew, he falls for Toretto's sister and must choose a side: the gang or the LAPD.
--------------------------------------------
angeles : 0.13235213850770586
big : 0.12335511843591354
brian : 0.17356285020711432
brian conner : 0.21319524755090283
choose : 0.16710388029275264
conner : 0.20731542121394453
cop : 0.13297216645643814
crew : 0.1265951560857133
falls : 0.12086350242805897
gang : 0.1326603288283882
infiltrates : 0.20251125329101488
lapd : 0.18905101238993194
los : 0.13235213850770586
los angeles : 0.13235213850770586
racer : 0.19844938718836394
rig : 0.20731542121394453
series : 0.1265951560857133
sister : 0.12837795958093584
street : 0.13972907737320164
suspected : 0.18905101238993194
toretto : 0.6395857426527085
undercover : 0.15123657528045076
undercover cop : 0.20251125329101488

In [52]:
# Compute Sigmoid Kernal to get the relation value of one movie with every other movie
from sklearn.metrics.pairwise import sigmoid_kernel
sigmoid = sigmoid_kernel(tf_idf_matrix, tf_idf_matrix)
sigmoid.shape

(4803, 4803)

In [62]:
print("Index of Movie locker 13 in original  dataset is :",indices['Locker 13'])
print('Similarity rating of movies with Locker 13 based on overview ',(sigmoid[indices['Locker 13']]))

Index of Movie locker 13 in original  dataset is : 4624
Similarity rating of movies with Locker 13 based on overview  [0.76159416 0.76159416 0.76159416 ... 0.76159582 0.76159463 0.76159463]

In [86]:
# Content_based_recommendations
def get_content_based_recommendation(movie_name):
    movie_index = indices[movie_name]
    sigmoid_value = sorted(list(enumerate(sigmoid[indices[movie_name]])), key=lambda x : x[1], reverse=True)
    sigmoid_value = sigmoid_value[1:11]
    original_index = [index[0] for index in sigmoid_value]
    df = movies_data.iloc[original_index][['original_title','vote_count','vote_average']]
    return df
df = get_content_based_recommendation('The Dark Knight')
df

                               original_title  vote_count  vote_average
3                       The Dark Knight Rises        9106           7.6
299                            Batman Forever        1498           5.2
428                            Batman Returns        1673           6.6
3854  Batman: The Dark Knight Returns, Part 2         419           7.9
1181                                      JFK         502           7.5
1359                                   Batman        2096           7.0
2507                                Slow Burn          16           5.5
879                       Law Abiding Citizen        1486           7.2
119                             Batman Begins        7359           7.5
205        Sherlock Holmes: A Game of Shadows        3886           7.0